{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-4">
            <div class="card-body">

                <h3 class="text-center mb-4">
                    Add {{ type }}
                </h3>

                <form method="POST">
                    {% csrf_token %}

                    <!-- Amount -->
                    <div class="mb-3">
                        <label>Amount</label>
                        {{ form.amount }}
                    </div>

                    <!-- Category -->
                    <div class="mb-3">
                        <label>Category</label>
                        {{ form.category }}
                    </div>

                    <!-- Date -->
                    <div class="mb-3">
                        <label>Date</label>
                        {{ form.date }}
                    </div>

                    <!-- Description -->
                    <div class="mb-3">
                        <label>Description</label>
                        {{ form.description }}
                    </div>

                    <!-- Errors -->
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            {{ form.errors }}
                        </div>
                    {% endif %}

                    <!-- Buttons -->
                    <div class="row">
                        <div class="col-6">
                            <a href="{% url 'dashboard' %}" 
                               class="btn btn-secondary w-100">
                                Cancel
                            </a>
                        </div>
                        <div class="col-6">
                            <button type="submit" 
                                    class="btn btn-dark w-100">
                                Save
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}