{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card mt-5">
            <div class="card-body">

                <h3 class="text-center mb-4">Login</h3>

                <form method="POST">
                    {% csrf_token %}

                    <!-- Username -->
                    <div class="mb-3">
                        <label for="username">Username</label>

                        <input type="text" id="username"
                               name="username" class="form-control"
                               placeholder="Enter Username" required>

                    </div>


                    <!-- Password -->
                    <div class="mb-3">
                        <label>Password</label>
                        <div class="input-group">
                            <input type="password" id="password"
                                   name="password" class="form-control"
                                   placeholder="Enter password" required>
                            <!-- Eye button -->
                            <button class="btn btn-outline-secondary"
                                    type="button"
                                    id="togglePassword"
                                    aria-label="Show or hide password">
                                 👁
                            </button>
                        </div>
                    </div>

                    <!-- Errors -->
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            Invalid email or password
                        </div>
                    {% endif %}

                    <!-- Submit Button -->
                    <button type="submit" 
                            class="btn btn-dark w-100">
                        Login
                    </button>

                    <p class="text-center mt-3">
                        Don't have an account?
                        <a href="{% url 'register' %}">Register</a>
                    </p>

                </form>
            </div>
        </div>
    </div>
</div>
    <!-- Show/Hide Password Script -->
<script>
document.getElementById('togglePassword')
    .addEventListener('click', function() {

        const password = document.getElementById(
            'password');

        // toggle between password and text
        if (password.type === 'password') {
            password.type = 'text';
            this.textContent = '🙈';
        } else {
            password.type = 'password';
            this.textContent = '👁';
        }
    });
</script>

{% endblock %}